/* line 1, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

/* line 7, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
a img {
  border: none;
}

/* line 11, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
a {
  color: #0000FF;
}

/* line 15, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 21, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
#container {
  width: 600px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

/* line 30, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
form input {
  font-size: 20px;
}

/* line 33, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
form input[type='text'] {
  width: 535px;
}

/* line 36, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
form input[type='submit'], button {
  -webkit-appearance: caret;
  font-size: 14px;
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  background: #24882B;
  background: -webkit-gradient(linear, left top, left bottom, from(#32BE39), to(#247B28));
  background: -moz-linear-gradient(top, #32BE39, #247B28);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32BE39', endColorstr='#247B28');
  text-decoration: none;
  text-shadow: 0 -1px 0 #036;
  text-align: middle;
  vertical-align: top;
}

/* line 57, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
button {
  margin: 20px auto;
}

/* line 61, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
h1 {
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
}

/* line 67, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border-top: solid 1px #CCC;
}

/* line 75, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
li {
  border-bottom: solid 1px #CCC;
  padding: 10px 10px;
  font-size: 16px;
  position: relative;
}
/* line 80, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
li .winner {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
}
/* line 85, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
li .winner.highlight {
  color: #DD0000;
  font-weight: bold;
}

/* line 92, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

/* line 98, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
ul.rating {
  display: inline-block;
}

/* line 102, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

/* line 111, D:/dev/git/rails_angular_raffler/app/assets/stylesheets/raffle.scss */
.rating .filled {
  color: #21568b;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

